<h1>Nieuwe Deelnemer: </h1>

<%= render partial:"/deelnemers/errors" %>

<%= form_tag( {:action => "create", :controller => "deelnemers", :method => "post"}, {}) do %>
  <%= render partial:"/deelnemers/inschrijfform" %>
<% end %>

<br /><br />

<%= link_to "Alle Deelnemers", deelnemers_path %>