<style type="text/css">
  .rTable 
  { 
    display: table; 
    width: 100%;
  } 
  .rTableRow 
  { 
    display: table-row; 
  }
  .rTableHeading 
  { 
    display: table-header-group; 
    font-weight: bold;
  }
  .rTableBody 
  { 
    display: table-row-group; 
  }
  .rTableFoot 
  { 
    display: table-footer-group; 
  }
  .rTableCell, .rTableHead 
  { 
    display: table-cell; 
    padding: 3px 10px;
    width: 150px;
  }
</style>

<div id="wrap">
  <div id="header">
  </div>
  <div id="nav">
    <%= render partial:"rondenavbar" %>
    <hr />
  </div>
  <div>
    <hr />
    <script type="text/javascript">var changed_games = [];</script>
    <button onclick="var i=0; function delayedLoop() { document.getElementById(changed_games[i]).click(); console.log(changed_games[i]); if (++i == changed_games.length){alert('Klaar!'); return;} window.setTimeout(delayedLoop, 4100); } delayedLoop();">Alle Resultaten invoeren</button>
    <hr />
  </div>
  <div id="main">
    <% @rondes.each do |r| %>
      <div class="ronde">
        <h3>Ronde: <%= r+1 %></h3>
        <% @toernooi.groeps.sort_by{ |groep| groep.nummer }.each do |groep| %>
          <% next if groep.nummer == 0 || ( r >= @indelings[groep.nummer].length ) %>
          <%= render partial:"groeprondeinvoer", locals: {groep: groep, r: r} %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="footer">
    <hr />
    <%= render partial:"rondenavbar" %>
  </div>
</div>
