<h1>Tussenstand/Uitslag</h1>

<script type="text/javascript">
  function print() {
    for (var i = 0 ; i < document.getElementsByClassName("toprint").length; i++) {
      var divToPrint = document.getElementsByClassName("toprint")[i];
      newWin = window.open("");
      newWin.document.write(divToPrint.outerHTML);
      newWin.print();
    }
    newWin.close();
  }
</script>

<% @groeps.each do |groep| %>
  <% next if groep.nummer.zero? %>
  <% uitslagen = groep.tussenstand %>
  <div class="toprint">
    <table>
      <thead>
        <td style="border: 0px solid black">
          Groep <%= groep.nummer %>
        </td>
        <th>Naam</th>
        <th>Punten</th>
      </thead>
      <tbody>
        <% uitslagen.each do |deelnemer| %>
          <tr>
            <td></td>
            <td><%= Deelnemer.find(deelnemer[0]).naam %> </td>
            <td><%= deelnemer[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
<% end %>
