<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li>
          <%= link_to "Toernooien", toernoois_path %>
        </li>
        <li>
          <%= link_to "Deelnemers", deelnemers_path %>
        </li>
      </ul>
    </div>
  </nav>
</div>
