// Place all the styles related to the indelen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  margin: 9px 20px 9px 0px;
  padding: 0;
  color: #000;
  background: #fff;
}

#wrap {
  width: 1200px;
  margin: 0 auto;
  background: #fff
}

#header {
  
}

#nav {
  padding-left: 0px;
  width: 95%;
}

#main {
  
}

#footer {
  padding-left: 0px;
  width: 95%;
}

.ronde {
  margin-top: 0px;
}

.dzg {
  width: 40%;
  float: left;
}

.lefta {
  width: 35%;
  float: left;
  height: 2000px;
}

.righta {
  margin-left: 35%;
  width: auto;
}

.left {
  width: 50%;
  float: left;
}

.right {
  margin-left: 50%;
  width: auto;
}

.clear {
  clear: both;
  margin-top: 0px;
  visibility: hidden;
  font-size: 0%;
}

.groep {
  margin-top: 10px;
  margin-bottom: 10px;
}

.invoertable {
  width: 90%
}